.container {
  height: 100vh;
  width: 100%;
  background-color: #5d5d5d;
  /* color: white; */
  padding: 30px;
  display: flex;
  align-items: center;
}

.form {
  background-color: #5d5d5d;
  width: fit-content;
  color: white;
  width: 50%;
  flex-direction: column;
  margin: 20px 20px;
  padding: 10px 5px;
  row-gap: 25px;
  align-items: flex-start;
}

.inp {
  width: 100%;
  height: 45px;
  margin: 2px;
  border-radius: 5px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
}
.btn {
  padding: 10px 30px;
  border-radius: 10px;
  color: gray;
  font-weight: bold;
  /* text-transform: uppercase; */
  border: 1px solid gray;
  cursor: pointer;
  margin-left: 5px;
}
.btn :hover {
  background-color: rgb(181, 241, 148);
}

a {
  color: white;
}
/* track page css */

.search {
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
}

.track-container {
  width: 100vh;
  align-items: flex-start;
  flex-direction: column;
}

.search-inp {
  width: 68%;
  height: 45px;
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 18px;
}
.link {
  color: gray;
}
.search {
  position: relative;
}

.search-results {
  width: 100%;
  padding: 10px 5px;
  margin-top: 10px;
  background-color: rgb(189, 192, 186);
  position: absolute;
}

.meals {
  width: 100%;
  padding: 30px 0px;
  row-gap: 10px;
  background-color: rgb(191, 194, 171);
  display: flex;
  flex-wrap: wrap;
}

.meals-img {
  width: 100%;
  height: 200px;
  /* background-color: rgb(233, 247, 145); */
  /* background-color: rgb(246, 206, 191); */
}

.meals-image {
  width: 100%;
}

.nutrient {
  width: 100%;
  padding: 10px 0px;
  background-color: rgb(216, 244, 192);
}

/* .track-control {
  display: flex;
  width: 100%;
  column-gap: 2%;
}

.track-control > .inp {
  width: 68%;
} 

.track-control > .btn {
  width: 30%;
  padding: 10px 0px;
}

.diet-container {
  align-items: flex-start;
  row-gap: 20px;
  flex-direction: column;
}

.item {
  width: 100%;
  padding: 20px;
  background-color: #2f2f2f;
}*/
/* Nutrition Meal */
.main {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  background-color: #5d5d5d;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 17%;
  padding: 5px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
}
.search-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-nav input {
  width: 25rem;
  height: 26px;
  border-radius: 5px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
}
.right div {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.right div :hover {
  background-color: rgb(217, 204, 229);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-left: 2rem;
  perspective: 1000px;
}
.slider img {
  border-radius: 5px;
  border: 2px solid gray;
  transition: transform 0.3s ease;
}
.slider img:hover {
  transform: translateZ(100px);
  border: 2px solid greenyellow;
}
.slider2 {
  width: 95%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
}
.slider2 img {
  border-radius: 5px;
  border: 2px solid gray;
  transition: transform 0.3s ease;
}
.slider2 img:hover {
  transform: translateZ(150px);
  border: 2px solid greenyellow;
}
